<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
	
		<title>Moderator Dashboard</title>
		
        <% include ../../partials/headimps %>
        <link href="/css/dashboard/index.css?v=21" rel="stylesheet" type="text/css">
        <link href="/css/prism.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="/js/timestamp.js?c=1"></script>   
        <script type="text/javascript" src="/js/oembed.js?v=22&v2=4"></script>
	</head>
	<body class="container">
		<% include ../../partials/global %>
		<main>
            <h1>Dashboard</h1>
            <% if(accInfo.isAdmin) { %>
            <br>
            <div>
                <h2>- Admin</h2>
                <br>
                <a href="/dashboard/settings" class="theme1 border1 round card">
                    <div>
                        <p class="title">Settings</p>
                        <p>Edit information or toggle features</p>
                    </div>
                </a>
                <a href="/dashboard/integrations" class="theme1 border1 round card">
                    <div>
                        <p class="title">3rd Party Integrations</p>
                        <p>Manage API keys for 3rd party integrations</p>
                    </div>
                </a>
                <a href="/dashboard/categories" class="theme1 border1 round card">
                    <div>
                        <p class="title">Categories</p>
                        <p>Add, edit, or remove categories here.</p>
                    </div>
                </a>
            </div>
            <% } %>
            <br>
            <div>
                <h2>- Moderator</h2>
                <br>
                <a href="/dashboard/auditlog" class="theme1 border1 round card">
                    <div>
                        <p class="title">Audit Log</p>
                        <p>A log of deleted and edited events on the forum.</p>
                    </div>
                </a>
                <a href="/dashboard/allreplies" class="theme1 border1 round card">
                    <div>
                        <p class="title">All Replies</p>
                        <p>Unfiltered list of all replies on the forum</p>
                    </div>
                </a>
            </div>
            <br>
            <div class="feeds">
                <div>
                    <div class="theme1 border1 round padding">
                        <h2>Latest Accounts</h2>
                        <br>
                        <div class="gapchildren">
                            <% accounts.forEach(account => { %>
                            <a class="accountRow" href="/profile?uid=<%= account._id %>">
                                <img src="<%= account.profilepicture %>"/>
                                <div>
                                    <p><%= account.username %></p>
                                    <p>Created: <script>document.write(TimeStamp.Beautify('<%= account.creationdate %>'))</script></p>
                                </div>
                            </a>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <div class="gapchildren globalactivitycontainer">
                    <h2>Global Activity Feed</h2>
                    <div class="activitycards">
						<% for (var i=0; i<activityFeed.length; i++){ %>
						<div class="theme1 activitycard round border1 padding">
							<% if(activityFeed[i].isLowerRanked){ %><p class="delete" data-trid="<%= activityFeed[i]._id %>">x</p><% } %>
							<p class="activityHeader">
                                <img class="pfp" src="<%= activityFeed[i].account.profilepicture %>"/>
                                <a href="/profile?uid=<%= activityFeed[i].account._id %>"><%= activityFeed[i].account.username %></a>
								<% if(activityFeed[i].isOP){ %>
								Created a new thread
								<% } else { %>
								<a href="/t/<%= activityFeed[i].tid %>?r=<%= activityFeed[i]._id %>">
								<% if("trid" in activityFeed[i]){ %>
								Commented
								<% } else { %>
								Replied
								<% } %>
								</a>
								to thread
								<% } %> 
								: <a href="/t/<%= activityFeed[i].tid %>"><span class="threadTitle"><%- activityFeed[i].threadTitle %></span></a>
							</p>
							<div class="threadContent"><%- activityFeed[i].content %></div>
						</div>
						<% } %>
						<% if(activityFeed.length<=0){ %><p style="text-align: center;">This user has no activity on the forum...</p><% } %>
					</div>
					<% if(moreFeedAvailable){ %><button class="theme1 border1 button btnLoadMore">Load More</button><% } %>
                </div>
            </div>
		</main>
        <% include ../../partials/footer %>
        <script>
            document.addEventListener("click", function(event) {
				var target = event.target;
				if (target.matches(".delete")) {
					if(!confirm("Confirm delete.")) return
					fetch("/api/thread/reply", {
						method: "DELETE",
						headers: {
							"Content-Type": "application/json"
						},
						body: JSON.stringify({
							trid: target.getAttribute("data-trid"),
						})
					})
					.then(res => res.json())
					.then(res => {
						if(res.success) target.parentElement.remove()
						else {
							if(res.reason) alert("Error: " + res.reason)
							else alert("An unexpected error occured...")
						}
					})
					.catch((e)=>{
						console.log(e)
						alert("Failed to contact the server or an unexpected response was received...")
					})
				}
			});

            <% if(moreFeedAvailable){ %>
			var oldestTrid = "<%= activityFeed[activityFeed.length-1]._id %>";
			document.getElementsByClassName("btnLoadMore")[0].onclick = function(){
				fetch('/api/account/activity?uid=0&trid='+oldestTrid, {
					method: "GET",
					headers: {
						"Content-Type": "application/json"
					}
				})
				.then(res => res.json())
				.then(async res => {
					var {feed, moreFeedAvailable} = res
					if(!feed) return
					oldestTrid = feed[feed.length-1]._id

					for(var i=0; i<feed.length; i++){
                        feed[i].content = await HTMLToOembed(feed[i].content, { fileDomainWhitelist: true })

                        let html = 
                        `<div class="theme1 activitycard round border1 padding">`
							if(feed[i].isLowerRanked) html += `<p class="delete" data-trid="${feed[i]._id}">x</p>`
							html += 
                            `<p class="activityHeader">
                                <img class="pfp" src="${feed[i].account.profilepicture}"/>
                                <a href="/profile?uid=${feed[i].account._id}">${feed[i].account.username}</a>
                            `
                            if(feed[i].isOP) html += "Created a new thread"
                            else {
                                html += `<a href="/t/${feed[i].tid}?r=${feed[i]._id}">`
                                    if("trid" in feed[i]) html += "Commented"
                                    else html += "Replied"
                                html += `</a> to thread`
                            }

                            html += `
								: <a href="/t/${feed[i].tid}"><span class="threadTitle">${feed[i].threadTitle}</span></a>
							</p>
							<div class="threadContent">${feed[i].content}</div>
						</div>`

                        document.getElementsByClassName("activitycards")[0].innerHTML += html
					}

					if(!moreFeedAvailable) document.getElementsByClassName("btnLoadMore")[0].remove()
				})
			}
			<% } %>

            document.querySelector("body").onload = function(){
                //Embed images in thread and signature content
                Array.prototype.forEach.call([...document.getElementsByClassName("threadContent")], function(threadReply){
                    HTMLToOembed(threadReply, { fileDomainWhitelist: true })
                })
            }
        </script>
    </body>
</html>