<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
	
		<title>Unverified Replies - Moderator Dashboard</title>
		
		<% include ../../partials/headimps %>
		<link href="/css/dashboard/unverifiedreplies.css?v=26" rel="stylesheet" type="text/css">
        <link href="/css/prism.css" rel="stylesheet" type="text/css">

		<script type="text/javascript" src="/js/timestamp.js?v2=2"></script>   
        <script type="text/javascript" src="/js/prism.js"></script>
	</head>
	<body class="container">
		<% include ../../partials/global %>
		<main>
            <h1>Unverified Replies</h1>
            <p style="color: gray; font-size: italic;">List of replies that require moderator verification</p>
            <br>
            <div class="threads">
                <% for(var i=0; i<replies.length; i++){ %>
                <% let reply = replies[i] %>
                <div class="reply border1 round padding" data-trid="<%- reply._id %>">
                    <div>
                        <p><script>document.write(TimeStamp.Beautify('<%= reply.date %>'))</script> | </p>
                        <p>By <a href="/profile?uid=<%= replies[i].uid %>" class="<%- reply.user.highestRole %>"><%- replies[i].user.username %></a>(<span class="<% if(reply.user.reputation>0){ %>good<% } %><% if(reply.user.reputation<0){ %>bad<% } %>"><%= reply.user.reputation %></span>) | </p>
                        <p><span class="topicprefix">Topic:</span><a href="/t/<%= replies[i].tid %>" class="topic"><%- replies[i].thread.title %></a></p>
                    </div>
                    <br>
                    <div class="content"><%- replies[i].content %></div>
                    <br>
                    <div class="verticalCenter gapchildrenx">
                        <% if(reply.deletable){ %>
                        <button class="button border1 round bad btnDeleteReply">Delete</button>
                        <% } %>
                        <button class="button border1 round btnVerifyReply">Verify</button>
                    </div>
                </div>
                <br>
                <% } %>
            </div>
            <br>
            <div class="pagination">
                <button class="button border1 round btnPrevPage">Previous Page</button>
                <button class="button border1 round btnNextPage">Next Page</button>
            </div>
		</main>
        <% include ../../partials/footer %>
        <script>
            //Embed images in thread content
            Array.prototype.forEach.call(document.getElementsByClassName("content"), function(threadReply){
                HTMLToOembed(threadReply, { fileDomainWhitelist: true })
            })

            const url = new URL(window.location)
            var page = url.searchParams.get('page') || 1

            if(page <= 1) document.getElementsByClassName("btnPrevPage")[0].remove()
            
            document.addEventListener("click", function(event){
                // If the clicked element doesn't have the right selector, bail
                if (event.target.matches('.btnNextPage')){
                    url.searchParams.set("page", parseInt(page)+1)
                    window.location = url.toString()
                }
                else if (event.target.matches('.btnPrevPage')){
                    url.searchParams.set("page", parseInt(page)-1)
                    window.location = url.toString()
                }
                else if (event.target.matches('.btnDeleteReply')){
                    if(!confirm("You are about to delete a reply.")) return

                    let trid = event.target.parentElement.parentElement.getAttribute("data-trid")

                    fetch('/api/reply', {
                        method: "DELETE",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({trid}),
                    })
                    .then(res => res.json())
                    .then(res => {
                        if(res.success) event.target.parentElement.parentElement.remove()
                        else alert(res.reason || 'Unknown error occured...')
                    })
                    .catch(()=> alert("Failed to contact the server."))
                }
                else if (event.target.matches('.btnVerifyReply')){
                    if(!confirm("You are about to verify a reply.")) return

                    let trid = event.target.parentElement.parentElement.getAttribute("data-trid")

                    fetch('/api/reply/verify', {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({trid}),
                    })
                    .then(res => res.json())
                    .then(res => {
                        if(res.success) {
                            alert("verified")
                            event.target.parentElement.parentElement.remove()
                        }
                        else alert(res.reason || 'Unknown error occured...')
                    })
                    .catch(()=> alert("Failed to contact the server."))
                }
            })
        </script>
    </body>
</html>