<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
        <meta name="description" content="<%= profileInfo.username %>'s suspected alternate accounts on this forum." />
	
		<title><%= profileInfo.username %>'s Suspected Alternate Accounts | <%- powForum.name %></title>
		
		<% include ../../partials/headimps %>
		<link href="/css/profile/alts.css?v=22" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="/js/timestamp.js?v2=2"></script>   
	</head>
	<body class="container">
		<% include ../../partials/global %>
		<main class="gapchildren">
			<div class="pmd">
				<a href="/profile?uid=<%= profileInfo._id %>"><img src="<%= profileInfo.profilepicture %>"></a>
				<h1><a href="/profile?uid=<%= profileInfo._id %>"><%= profileInfo.username %></a>'s Suspected Alternate Accounts</h1>
			</div>
			<div class="theme1 round threads gapchildren">
				<% if (Object.keys(matches).length <= 0){ %>
				<p style="text-align: center;">This user has no suspected alternate accounts.</p>
				<% } else { %>
				<% for(var uid in matches){ %>
				<div class="thread">
					<a href="/profile?uid=<%= uid %>"><p><%= matches[uid].username %></p></a>
					<div class="threadmd">
						<p>Last matched: <script>document.write(TimeStamp.Beautify('<%= matches[uid].date %>'))</script></p>
					</div>
				</div>
				<% } %>
				<% } %>
			</div>
		</main>
		<% include ../../partials/footer %>
	</body>
</html>