<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
		<meta name="keywords" content="new reply, <%- powForum.title %>, forum, social, media" />
        <meta name="description" content="Reply to the '<%- threadData.title %>' thread on <%- powForum.title %>" />
	
		<title>Thread Replier for <%- threadData.title %> - <%- powForum.title %></title>
		
		<% include ../partials/headimps %>
        <link href="/css/newreply.css?v=20" rel="stylesheet" type="text/css">
        <link href="/css/prism.css" rel="stylesheet" type="text/css">
        
        <script src='https://www.google.com/recaptcha/api.js' defer></script>
        <script src="https://cdn.tiny.cloud/1/9uay7qr7nh5d5awlk1pnvh19gxm01if2wj3eo9zbeyymy2wu/tinymce/5/tinymce.min.js"></script>
        <script type="text/javascript" src="/js/timestamp.js?c=1"></script>        
	</head>
	<body class="container">
		<% include ../partials/global %>
		<main class="screenPadding" style="max-width: 1100px; margin: auto">
            <div class="theme1 round border1 padding">
                    <p>
                        <a href="/">Subcategories</a> > 
                        <a href="/#<%= threadData.category.group %>"><%= threadData.category.group %></a> > 
                        <a href="/c/<%= threadData.category.database %>"><%= threadData.category.name %></a> > 
                        <a href="/t/<%= threadData._id %>"><%- threadData.title %></a>
                    </p>
                    <h1>New Reply</h1>
            </div>
            <br>
            <div class="theme1 round border1 padding">
                <h2>Original Post</h2>
                <br>
                <div>
                    <%- threadData.op.content %>
                </div>
            </div>
            <br/>
            <form id="replyform" class="theme1 round border1" onSubmit={this.SanitizeAndPost}>
                <h2 class="padding">Reply Content</h2>
                <textarea id="editor"><%= initialtext %></textarea>
                <div class="padding">
                    <button
                    style="float: right; color: inherit;"
                    class="theme2 button g-recaptcha"
                    data-sitekey="<%= process.env.CAPTCHAV3_SITEKEY %>"
                    data-callback="captchacallback"
                    data-error-callback="captchaErrorCallback">
                    Submit
                    </button>
                    <p id="errormessage" style="color: red; text-align: center"></p>
                </div>
                <br>
                <br>
            </form>
            <br>
            <div class="padding theme1 round border1">
                <ul class="gapchildren">
                    <li>Direct image links (.jpg, .jpeg, .png, .gif, .mp4) from Streamable, Imgur, Gyazo, and Discord will automatically embed.</li>
                </ul>
            </div>
        </main>
		<% include ../partials/footer %>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/prism.js"></script>
		<script>
            var saveDraft = true

            tinymce.init({
                selector: '#editor',
                menubar: false,
                plugins: 'link hr lists codesample',
                toolbar: 'bold italic underline strikethrough | alignleft aligncenter alignright | fontsizeselect forecolor | bullist numlist blockquote link hr codesample | undo redo',
                height: 300,
                content_style: "p {margin: 0}",
                relative_urls: false,
                remove_script_host : true,
                codesample_languages: [
                    { text: 'Lua', value: 'lua' },
                    { text: 'C++', value: 'cpp' },
                    { text: 'Rust', value: 'rust' },
                    { text: 'C#', value: 'csharp' },
                    { text: 'Python', value: 'python' },
                    { text: 'PHP', value: 'php' },
                    { text: 'JavaScript', value: 'javascript' },
                    { text: 'HTML/XML', value: 'markup' },
                    { text: 'CSS', value: 'css' },
                ],
                custom_colors: false,
                color_map: [
                    "CD201F", "Red",
                    "E11D48", "Rose",
                    "C0392B", "Pomegranate",
                    "1ABC9C", "Turquoise",
                    "2ECC71", "Emerland",
                    "3498DB", "Peterriver",
                    "2980B9", "Belizehole",
                    "E67E22", "Carrot",
                    "F1C40F", "Sunflower",
                    "6D28D9", "Violet",
                    "9333EA", "Purple",
                    "C026D3", "Fuchsia",
                    "34495E", "Wet Asphalt",
                    "795548", "Brown",
                ],
                skin: "oxide-dark",
                content_css: "/css/themes/night.css?v=20",
            });

            function captchacallback(){
                fetch('/api/thread/reply', {
					method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
					body: JSON.stringify({
                        'g-recaptcha-response': grecaptcha.getResponse(),
                        content: tinymce.activeEditor.getContent(),
                        tid: '<%= threadData._id %>'
                    }),
				})
				.then(res => res.json())
                .then(res => {
                    if(res.success){
                        saveDraft = false
                        localStorage.removeItem('reply-draft');
                        document.location.href = "./"
                    } else {
                        document.getElementById('errormessage').innerHTML = res.reason || 'Unknown error occured...'
                    }
                })
				.catch(()=>document.getElementById('errormessage').innerHTML = "Failed to contact the server.")

				grecaptcha.reset();
			}
            
            function captchaErrorCallback() {
                // Re-initialize reCaptcha
                grecaptcha.reset();
                // Fire reCaptcha
                grecaptcha.execute();
            }

            /* Drafts */
            //Load draft
            var draft = JSON.parse(localStorage.getItem("reply-draft"))
            if(draft && (draft.tid === <%= threadData._id %>)) document.getElementById("editor").value = draft.content
            else localStorage.removeItem('reply-draft')

            //Save draft on abrupt exit
            window.onbeforeunload = function () {
                if(!saveDraft) return
                let content = tinymce.activeEditor.getContent()
                //Prevents saving if they haven't edited from mention
                if(content === "<%= initialtext %>") return
                if(content) localStorage.setItem('reply-draft', JSON.stringify({tid: <%= threadData._id %>, content}))
                else localStorage.removeItem('reply-draft')
            };
		</script>
	</body>
</html>