<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
		<meta name="keywords" content="<%= forumData.category.name %>, forum, social, media" />
        <meta name="description" content="Create a thread on the <%= forumData.category.name %> on <%- powForum.name %>" />
	
		<title>Thread Creator for <%= forumData.category.name %> - <%- powForum.name %></title>
		
		<% include ../partials/headimps %>
        <link href="/css/newthread.css?v=22" rel="stylesheet" type="text/css">
        <link href="/css/prism.css" rel="stylesheet" type="text/css">
        
        <script src="https://challenges.cloudflare.com/turnstile/v0/api.js?compat=recaptcha" async defer></script>
        <script src="https://cdn.tiny.cloud/1/9uay7qr7nh5d5awlk1pnvh19gxm01if2wj3eo9zbeyymy2wu/tinymce/5/tinymce.min.js"></script>
        <script type="text/javascript" src="/js/timestamp.js?v2=2"></script>        
	</head>
	<body class="container">
		<% include ../partials/global %>
        <div class="mainxchat">
            <main class="screenPadding gapchildren padding" style="max-width: 1100px; margin: auto">
                <div class="theme1 round border1 padding">
                    <p><a href="/">Categories</a> > <a href="/c/<%= forumData.category._id %>"><%= forumData.category.name %></a> ></p>
                    <h1>Thread creator</h1>
                </div>
                <div class="lessgapchildren theme1 round border1">
                    <p class="bold padding">Topic</p>
                    <input id="topic" class="theme2 border1" type="text" placeholder="What do you want to talk about?" autocomplete="off"/>
                    <p class="bold padding">Body</p>
                    <textarea id="editor"></textarea>
                    <div class="padding lessgapchildren">
                        <div class="g-recaptcha" data-sitekey="<%- process.env.CAPTCHA_SITEKEY %>"></div>
                        <button
                        class="theme2 button"
                        onclick="PostThread()">
                        Submit
                        </button>
                        <p id="errormessage" style="color: var(--red); text-align: center"></p>
                    </div>
                </div>
                <div class="padding theme1 round border1">
                    <ul class="gapchildren">
                        <li>Direct image links (.jpg, .jpeg, .png, .gif, .mp4) from Streamable, Imgur, Gyazo, and Discord will automatically embed.</li>
                        <li>When you post your thread, you can use the lock button to block replies. Useful for purely informational posts.</li>
                    </ul>
                </div>
            </main>
            <% include ../partials/chatwindow %>
		</div>
		<% include ../partials/footer %>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/prism.js"></script>
		<script>
            var saveDraft = true

            tinymce.init({
                selector: '#editor',
                menubar: false,
                plugins: 'link hr lists codesample',
                toolbar: 'bold italic underline strikethrough | alignleft aligncenter alignright | fontsizeselect forecolor | bullist numlist blockquote link hr codesample | undo redo',
                height: 300,
                content_style: "p {margin: 0}",
                relative_urls: false,
                remove_script_host : true,
                codesample_languages: [
                    { text: 'Lua', value: 'lua' },
                    { text: 'C++', value: 'cpp' },
                    { text: 'Rust', value: 'rust' },
                    { text: 'C#', value: 'csharp' },
                    { text: 'Python', value: 'python' },
                    { text: 'PHP', value: 'php' },
                    { text: 'JavaScript', value: 'javascript' },
                    { text: 'HTML/XML', value: 'markup' },
                    { text: 'CSS', value: 'css' },
                ],
                custom_colors: false,
                color_map: [
                    "CD201F", "Red",
                    "E11D48", "Rose",
                    "C0392B", "Pomegranate",
                    "1ABC9C", "Turquoise",
                    "2ECC71", "Emerland",
                    "3498DB", "Peterriver",
                    "2980B9", "Belizehole",
                    "E67E22", "Carrot",
                    "F1C40F", "Sunflower",
                    "6D28D9", "Violet",
                    "9333EA", "Purple",
                    "C026D3", "Fuchsia",
                    "34495E", "Wet Asphalt",
                    "795548", "Brown",
                ],
                skin: "oxide-dark",
                content_css: "/css/main.css,/css/themes/night.css?v=22,/css/tinymce.css",
            });

            function PostThread(){
                fetch('/api/thread', {
					method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
					body: JSON.stringify({
                        'grecaptcharesponse': grecaptcha.getResponse(),
                        topic: $('#topic').val(),
                        content: tinymce.activeEditor.getContent(),
                        forum: <%= forumData.category._id %>
                    }),
				})
				.then(res => res.json())
                .then(res => {
                    if(res.success){
                        saveDraft = false
                        localStorage.removeItem('thread-draft');
                        document.location.href = `/t/${res.tid}`
                    } else {
                        document.getElementById('errormessage').innerHTML = res.reason || 'Unknown error occured...'
                    }
                })
				.catch(()=>document.getElementById('errormessage').innerHTML = "Failed to contact the server.")

				grecaptcha.reset();
			}
            
            function captchaErrorCallback() {
                // Re-initialize reCaptcha
                grecaptcha.reset();
                // Fire reCaptcha
                grecaptcha.execute();
            }

            /* Drafts */
            //Load draft
            var draft = JSON.parse(localStorage.getItem("thread-draft"))
            if(draft){
                document.getElementById("topic").value = draft.topic
                document.getElementById("editor").value = draft.content
            }

            //Save draft on abrupt exit
            window.onbeforeunload = function () {
                if(!saveDraft) return
                let topic = document.getElementById("topic").value
                let content = tinymce.activeEditor.getContent()
                if(topic || content) localStorage.setItem('thread-draft', JSON.stringify({topic, content}))
                else localStorage.removeItem('thread-draft')
            };
		</script>
	</body>
</html>