<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=0">
		<meta name="keywords" content="<%- powForum.name %>, <%- powForum.name %> account, <%- powForum.name %> upgrade, forum, social, media" />
        <meta name="description" content="Unlock more with <%- powForum.name %> by upgrading your account here." />
	
		<title>Upgrade Your Account - <%- powForum.name %></title>
		
		<% include ../../partials/headimps %>
        <link href="/css/upgrade/pending.css?v=20" rel="stylesheet" type="text/css">
        
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body class="container">
        <% include ../../partials/global %>
        <main style="padding: 12px;">
            <h3>Premium Purchase Processing</h3>
            <br>
            <p>Your payment for your premium membership is currently processing. Please allow up to an hour for our servers to process the payment. It is usually much faster.</p>
            <br>
            <p>When your profile has the "Premium" badge, that is your indication that payment is complete.</p>
        </main>
        <% include ../../partials/footer %>
	</body>
</html>